@mixin nunito-text($size, $weight, $color) {
  font: {
    family: Nunito;
    size: $size;
    weight: $weight;
  }
  color: $color;
}

@mixin before-icon($width, $height){
  content: "";
  width: $width;
  height: $height;


}
