@import url("drop.css");
@import "mixins.scss";
@import "templates.scss";

$back-color: var(--Blue-fone, #ECF4FF);
$brand-color: var(--Blue, #3461E3);

///////////////////////////////////////////////////////////////////////// @Mixins////////////////////////////////////

//nunito-text($size, $weight, $color) - text-nunino-font
//before-icon($width, $height, $background-img) - before elem background content


header {
  background-color: #fff;


  section.header-hat__section {
    width: 100%;
    background-color: $back-color;
    padding: 8px;

    li a {
      @include nunito-text(14px, 400, #606E78);
      @extend %transition;

      &:hover {
        opacity: 0.7;
      }

    }

    ul.lang-switcher {
      display: flex;
      gap: 5px;

      li {
        @include nunito-text(14px, 400, #606E78)

      }

      li:first-child:after {
        content: "|";
        margin-left: 5px;
      }
    }
  }

  .header-hat {
    @extend %content-container;
    display: flex;
    justify-content: space-between;


    ul {
      display: flex;
      gap: 50px;


    }
  }

  div.header-main {
    @extend %content-container;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;

    div.brand-naming {
      flex: 1;
      max-width: 143px;
      display: flex;
      gap: 10px;

      p {
        @include nunito-text(27px, 700, $brand-color);
      }

    }
  }

  label {
    position: relative;

  }

  input {
    background-color: $back-color;
    border-radius: 50px;
    padding: 10px 0 10px 21px;
    @include nunito-text(14px, 400, #ADB2C1);
    height: 100%;
    min-width: 607px;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $brand-color;
    min-width: 60px;
    border: {
      top-right-radius: 50px;
      bottom-right-radius: 50px;
    }
    @extend %transition;
    cursor: pointer;

    &:after {
      content: "";
      background: url("/images/header-searchbar-glass.svg") no-repeat;
      height: 12px;
      width: 12px;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translateX(50%) translateY(-50%);
    }

    &:hover {
      opacity: 0.7;
    }

  }

  .header-number {
    @include nunito-text(14px, 700, $brand-color);
    position: relative;
    padding-left: 38px;
    padding-top: 5px;
    @extend %transition;

    &:before {
      background: url("/images/header-phone.svg") no-repeat $brand-color;
      @include before-icon(11px, 16px);
      position: absolute;
      left: 8px;
      top: 8px;
      border-radius: 50px;
      z-index: 4;

    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      background-color: $brand-color;
      border-radius: 50px;
      @include before-icon(28px, 28px);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .header-register {
    @include nunito-text(14px, 400, #606E78);
    position: relative;
    padding-left: 38px;
    padding-top: 5px;
    @extend %transition;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      background-color: $brand-color;
      border-radius: 50px;
      @include before-icon(28px, 28px);
    }

    &:before {
      @include before-icon(12px, 0);
      position: absolute;
      left: 8px;
      top: 8px;
      background: url("/images/header-registration.svg") no-repeat;
      padding: 8px;
      border-radius: 50px;
      z-index: 4;

    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.header-bottom {
    background-color: $brand-color;
  .header-bottom__container {
    @extend %content-container;
    padding-top: 24px;
    padding-bottom: 26px;
  ul{
    display: flex;
    gap: 43px;
    a{
      @include nunito-text(14px, 400, #fff)
    }
  }
  }
}






